/* Style the navigation bar */
.navbar {
  width: 100%;
  background-color: rgb(0, 0, 0);
  justify-content: left;
  position: fixed;
  z-index: 10;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 16px;
  padding: 15px 15px;
  z-index: 10;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: rgb(0, 0, 0);
  color: yellow;
}

.icon-col {
  color: orange;
}

.login-col {
  color: rgb(50, 187, 233);
}

#nastavni_plan_hidden{
  display: none;
}

.first_h1_tag {
  text-align: center;
  padding-top: 2vw;
}

.line_under_h1 {
  width: 50%;
  border: 1px solid orange;
}

.campus_img_div {
  height: 50vh;
  z-index: -10;
  background-image: url(../img/kampus-iz-zraka-min-1.jpg);
  background-position: center;
  animation: fade_in_img 0.8s;
}

.naslovi {
  text-align: center;
  padding-bottom: 10vh;
  color: rgb(194, 27, 103);
}

.nase_vrijednosti_text {
  padding: 100px 20%;
}

.long_text_style {
  font-size: 25px;
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.vrijednosti_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 70%;
}

.vrijednost {
  border: 2px solid rgb(214, 212, 212);
  text-align: center;
  font-size: 2em;
}

.vrijednost>h3 {
  font-size: 20px;
  text-align: left;
  padding: 20px 20px 5px 20px;
  text-transform: uppercase;
}

.hr_style {
  width: 90%;
  border: 1px solid rgb(214, 212, 212);
}

.vrijednost>p {
  font-size: 15px;
  text-align: justify;
  padding: 10px 20px;
}

.povijest_text {
  padding: 100px 20%;
}

.povijest_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 0 auto;
  width: 70%;
}

.povijest_item {
  border: 2px solid rgb(214, 212, 212);
  text-align: center;
  font-size: 2em;
}

.povijest_item>h3 {
  font-size: 18px;
  text-align: left;
  padding: 20px 20px 5px 20px;
  text-transform: uppercase;
}

.povijest_item>p {
  font-size: 15px;
  text-align: justify;
  padding: 20px;
}

.povijest_item>h3>span {
  color: rgb(13, 110, 250);
}

.algebra_grupa_text {
  padding: 100px 20%;
}

.algebra_grupa_grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 40px;
  margin: 0 auto;
  width: 70%;
}

.algebra_grupa_item>h3 {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
}

.hr_style_certificates {
  border: 1px solid rgb(214, 212, 212);
}

.algebra_grupa_item>img {
  max-height: 60px;
  max-width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.razmak_gore {
  padding-top: 100px;
}

.lokacija_background {
  background-image: url(../img/lokacijaIMG.PNG);
  background-attachment: fixed;
  padding: 50px;
}

.lokacija_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  margin-bottom: 20px;
  margin: 10px 20%;
}

.lokacija_grid_item {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
  background-color: white;
}

.blue_icon {
  color: rgb(67, 116, 239);
}

.naslovi_lokacija {
  font-size: 24px;
  width: 100%;
  text-align: left;
}

.lokacija_text {
  padding: 5px 50px;
  text-align: left;
  font-size: 14px;
}

.lokacija_map {
  display: flex;
  justify-content: center;
}

.lokacija_map>iframe {
  border: 1px solid gray;
}

.end>img {
  object-fit: cover;
  width: 100%;
  height: 250px;
}

.end>div {
  height: 0;
}

.footer_img_text {
  position: relative;
  top: -250px;
  left: 50%;
  transform: translate(-50%, 30%);
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-shadow: 3px 2px black;
  text-align: center;
  text-transform: uppercase;
}

.gradient_zaiskri {
  font-size: 50px;
  font-weight: 600;
  color: rgb(194, 27, 103);
  text-shadow: 2px 2px black;
}

/*modal css kod*/
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  padding: 10%;
  z-index: 1;
  /* Sit on top */
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  padding: 10px;
  width: 50%;
  animation-name: animatetop;
  animation-duration: 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes fade_in_img {
  0% {
      transform: scaleY(0);
      transform-origin: 100% 0%;
      opacity: 1;
      z-index: -10;
  }

  100% {
      transform: scaleY(1);
      transform-origin: 100% 0%;
      opacity: 1;
      z-index: -10;
  }
}

.modal-header {
  padding: 15px;
  color: rgb(24, 31, 73);
  border: none;
}

.modal-body {
  padding: 2px 16px;
  font-size: 15px;
}

#FullName,
#Email,
#Importance,
#Message {
  width: 100%;
}

.kontakt_txtbox {
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

#close_btn {
  background-color: rgb(177, 41, 58);
  border: none;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}

#sent_btn {
  background-color: rgb(37, 103, 210);
  border: none;
  color: white;
  width: 80px;
  height: 30px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

/* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
@media screen and (max-width: 768px) {
  .navbar a {
    float: none;
    display: block;
  }

  .vrijednosti_grid, .povijest_grid, .lokacija_grid{
    display: block;
  }

  .algebra_grupa_grid{
    display: block;
  }

  .algebra_grupa_item{
    padding-bottom: 30px;
  }

}