/* Style the navigation bar */
.navbar {
    width: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: left;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 15px 15px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: rgb(0, 0, 0);
    color: yellow;
  }

  .icon-col {
    color: orange;
  }

  .login-col{
    color: rgb(50, 187, 233);
  }

.first_h1_tag{
    text-align: center;
}

.line_under_h1{
    width: 50%;
    border: 1px solid orange;
}

  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }